{% extends "admin/account/page.html" %}{% load i18n %}

{% block title %}
    {% if log %}
        {% trans "Edit email" %}
    {% else %}  
        {% trans "New email" %}
    {% endif %}
{% endblock %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Cotimail" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="content__inner">
    <p class="breadcrumb">
        <a href="{% url 'cotimail:list' %}">{% trans "Email templates" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if log %}
            {% trans "Edit email" %}
        {% else %}  
            {% trans "New email" %}
        {% endif %}
    </p>
</div>
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
            <div class="alert alert--error">
            {% for error in form.non_field_errors %}
                    {{error}}<br>
            {% endfor %}
            </div>
    {% endif %}
    {% if form.errors %}
        <div class="content__inner">
            <div class="alert alert--error">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{error}}<br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% for fieldset in form.fieldsets %}
    <div class="[ content__inner ] [ box box--padded box--bordered ]">
        <fieldset>
            <legend>
                {% if fieldset.legend %}
                    {{ fieldset.legend }}
                {% endif %}
            </legend>
        
        {% if fieldset.description %}
            <p>{{ fieldset.description }}</p>
        {% endif %}

        {% for field in fieldset %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="grid">
                    <div class="grid__span-2">
                        <span class="form__label--inline">
                            {{field.label}}
                        </span>
                    </div>
                    <div class="{% if field.field.widget.attrs.rows %}grid__span-6{% else %}grid__span-3{% endif %}">
                        {% if field.field.widget.attrs.class == 'form__text' %}
                            {% include "admin/includes/text-field.html" %}
                        {% elif field.field.widget.attrs.class == 'form__select' %}
                            {% include "admin/includes/select-field.html" %}
                        {% elif field.field.widget.attrs.class == 'form__checkbox' %}
                            {% include "admin/includes/checkbox-field.html" %}
                        {% else %}
                            {% include "admin/includes/text-field.html" %}
                        {% endif %}
                    </div>  
                </div>
            {% endif %}
        {% endfor %}

        </fieldset>
    </div>
    {% endfor %}

    <div class="content__inner">
        <input type="submit" value="{% trans 'Save' %}" class="btn btn--primary" />
        <a class="btn btn--transparent" href="{% url 'cotimail:list' %}">{% trans "Cancel" %}</a>
    </div>   
</form>
{% endblock %} 

