{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Email templates" %}
{% endblock %}

{% block toolbar %}
    {% if perms.cotimail.change_emaillog %}
    <a href="{% url 'cotimail:logs' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-file-text-o"></span> {% trans "View email logs" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Cotimail" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="content__inner">
    <table class="table">
        <thead>
            <tr class="table-row">
                <th class="table-head-cell">{% trans "Template name" %}</th>
                <th class="table-head-cell">{% trans "Preview" %}</th>
                <th class="table-head-cell">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notice_map %}
        <tr class="table-row">
            <td class="table-cell">{{notice.name}}</td>
            <td class="table-cell">
                {% if notice.html_template %}
                    <a href="{% url 'cotimail:template_preview_html' notice.identifier %}">HTML</a> | 
                {% endif %}
                <a href="{% url 'cotimail:template_preview_text' notice.identifier 'text' %}">TXT</a>
            </td>
            <td class="table-cell">
                <a href="{% url 'cotimail:new_email' notice.identifier %}"
                    class="btn btn--small btn--create">
                    <span class="fa fa-plus"></span>
                    {% trans "New email" %}
                </a>
            </td>
        </tr>
        {% empty %}
            <tr class="table-row">
                <td colspan="3" class="table-cell">You have no notices setup yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 
