{% extends "admin/account/page.html" %}{% load i18n %}

{% block title %}{% trans "Email logs" %}{% endblock %}

{% block toolbar %}
    {% if perms.app.add_model %}
    <a href="{% url 'cotimail:list' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-file-image-o"></span> {% trans "Email templates" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Cotimail" %}</span>
{% endblock %}

{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-9">
        <div class="content__inner">
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Type" %}</th>
                    <th class="table-head-cell">{% trans "Recipients" %}</th>
                    <th class="table-head-cell">{% trans "Context" %}</th>
                    <th class="table-head-cell">{% trans "Sent" %}</th>
                    <th class="table-head-cell">{% trans "Status" %}</th>
                    <th class="table-head-cell">{% trans "Actions" %}</th>
                </tr>
                {% for log in logs %}
                <tr class="table-row" onClick="window.location = '{% url 'cotimail:email_preview' log.id %}'">
                    <td class="table-cell">{{log.name}}</td>
                    <td class="table-cell">{% for r in log.get_recipients %}
                        <a href="mailto:{{r}}">{{r}}</a>
                    {% endfor %}</td>
                    <td class="table-cell"><a href="{% url 'cotimail:log_context' log.id %}">{% trans "View context" %}</a></td>
                    <td class="table-cell">{{log.date_sent}}</td>
                    <td class="table-cell">
                        {% if log.status == 'SENT' %}
                            <span class="label label--success">{{log.status}}</span>
                        {% elif log.status == 'QUOTED' %}
                            <span class="label label--primary">{{log.status}}</span>
                        {% else %}
                            <span class="label">{{log.status}}</span>
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'cotimail:email_preview' log.id %}">Preview</a>
                    </td>
                </tr>
                {% empty %}
                    <tr class="table-row">
                        <td colspan="6" class="table-cell">
                            {% trans "No logs." %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% with logs as page_obj %}
                {% include 'admin/includes/pagination.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="grid__span-3">
        <div class="content__inner">
            <table class="table">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Filter" %}</th>
                </tr>
                <tr class="table-row">
                    <td class="table-cell">
                        <form action="" method="get">
                            {% for field in filter.form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    {% include "admin/includes/select-field.html" %}
                                {% endif %}
                            {% endfor %}
                            <input type="submit" class="btn btn--primary" value="Filter" />
                            <a class="btn btn--transparent" href="{% url 'cotimail:logs' %}">
                                {% trans "Reset" %}
                            </a>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %} 

