{% load i18n %}
{% if perms.cotimail.change_emaillog %}
<div class="menu__section-header">
    {% trans "Email logs" %}
</div>
<a href="{% url 'cotimail:list' %}" class="[ menu__item ] [ menu-item ]">
    <span class="menu-item__icon fa fa-envelope"></span>
    <span class="menu-item__text">{% trans "Notices" %}</span>
</a>
<a href="{% url 'cotimail:logs' %}" class="[ menu__item ] [ menu-item ]">
    <span class="menu-item__icon fa fa-file-text-o"></span>
    <span class="menu-item__text">{% trans "Logs" %}</span>
</a>
{% endif %}